.page {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.page-content {
  margin: 0;
  background: rgba(0,0,0,.5);
  color: white;
  padding: .5rem 1rem 1rem;
  max-width: 800px;

  a {
    color: $primary-accent;
    text-decoration: none;
  }

  .quote-image {
    width: 100%;
  }

  @include for-size(tablet-portrait-up) {
    margin: $header-height auto 1rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
  }

  @include for-size(home-page-logo) {
    margin: 0 auto 1rem;
    @include for-size(phone-only) {
      margin: 0;
    }
  }
}