@import url('https://fonts.googleapis.com/css?family=Gelasio|Righteous&display=swap');

.site-title, h1, h2, h3, h4, h5, h6, 
.nav__item, .page-nav__item, button {
  font-family: 'Righteous', cursive;
}

p, span, a, footer, input {
  font-family: 'Gelasio', serif;
  font-size: 22px;
}